<h4>Log in</h4>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: signin_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit yield(:button_text), class: "btn btn-primary "%>
    <% end %>
  </div>
</div>
