<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">New User</h1>
    <div class = "form-group">
<%= render 'form', user: @user %>
</div>
<%= link_to 'Back', users_path, class: "btn btn-danger" %>
  </div>
</div>

