<div class="jumbotron">
  <h1 class="display-4">Private Events</h1>
  <p class="lead">Welcome to private events! Remember our events are so private, Register or sign in with your name and have fun !</p>
  <hr class="my-4">
  <p>Enter now to gain access to our exclusive private events</p>
  <p class="lead">
  <%= link_to "Sign In!", signin_path, class: "btn btn-primary btn-lg"%>
  </p>
</div>